.movies-card {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 357px;
  box-shadow: 0 5px 30px #0000000a;
  background-color: #222222;
}

.movies-card__about {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.movies-card__title {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.22;
  margin: 13px 0 16px;
  margin-left: 13px;
  max-width: 302px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.movies-card__duration {
  font-size: 13px;
  line-height: 1.18;
  color: #8B8B8B;
  margin: 12px 23px 14px;
}

.movies-card__add {
  background-color: #313131;
  background-position: 50%;
  background-repeat: no-repeat;
  height: 29px;
  max-width: 100px;
  width: 100%;
  border-radius: 30px;
  border: 0 solid #fff;
  align-items: flex-end;
  justify-content: space-between;
  align-content: space-around;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 22px;
  color: white;
  transition: opacity 0.3s;
  cursor: pointer;
}

.movies-card__add:hover {
  opacity: 0.6;
}

.movies-card__add_active {
  background-color: #EE3465;
  font-size: 0;
  background-image: url('../../../images/add.svg');
}


.movies-card__add_delete {
  background-color: #313131;
  font-size: 0;
  background-image: url('../../../images/delete.svg');
}

.movies-card__image {
  /* width: 356px;
  height: 200px; */
  cursor: pointer;
    height: 205px;
    -o-object-fit: cover;
    object-fit: cover;
}


@media screen and (max-width: 1279px) {
  .movies-card__image {
    width: 348px;
    height: 192px;
  }
}


@media screen and (max-width: 767px) {
  .movies-card {
    width: 300px;
  }

  .movies-card__image {
    width: 300px;
    height: 170px;
  }


  .movies-card__add {
    margin-top: 14px;
  }

  .movies-card__title {
    font-size: 12px;
  }
}